@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    color: azure;
    background-color: #59604a;
}



/* ------------------------------------------------------- */
/* headings and logo */
h1, h2 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: azure;
}


#logo {
    float: left;
    font-size: 280%;
    margin-left:20px;
    line-height:75px;
    top: 0px;
    
}

header {
    height: 80px;
}


/* ------------------------------------------------------- */
/* navigation links */

#nav-bar {
    font-size: 100%;
    letter-spacing: 3px;
    line-height:75px;
    top: 0px;
}

#nav-bar li {
    float: right;
    list-style-type:none;
    margin-right: 20px;
}

#nav-bar a {
    text-decoration: none;
    color: azure;
}

#nav-bar a:hover {
    border-bottom: 1px solid #3a3a3a;
}

 a:active{
    border-bottom: 1px solid #3a3a3a;
    /*why doesnt this work*/
}

/* ------------------------------------------------------- */
/* hero image and cover text*/

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/park_bench.jpeg') no-repeat center center;
}
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

}

#cover-text{
    width:760px;
    height:30px;
    padding: 10px;
    background-color: rgba(240, 255, 255, 0.5); 
    top: 480px;
    left: 100px; 
    position: absolute;
}

#cover-text h2 {
    color:#3a3a3a
}


/* ------------------------------------------------------- */
/* about section */
#about {
    margin: 32px;
}

#about p {
    text-align: center;
    padding-top: 32px;
    text-justify: distribute;
    font-size: 118%;
}

#map {
    margin: 32px;
    width: auto;
    position: relative;
    display:flex;
    justify-content: center;
    align-content: center;
}


/* ------------------------------------------------------- */
/* Contact Section */

.contact {
    text-align: center;
    padding: 10px;
}

.contact h2 {
    padding: 5px;
    letter-spacing: 3px;
}

.contact h3 {
    padding: 5px;
}

.contact-link {
    color: azure;
    font-size: 110%;
}

/* ------------------------------------------------------- */
/* footer and line break*/

hr {width: auto; 
    height: 1px; 
    background-color:#666; 
    padding: 1px; 
    margin: 32px;}

footer {
    height: 50 px;
    margin-bottom: 0%;
    width :100%;
    padding-bottom: 10px;
    padding-top: 10px;
}

#footer-column {
    text-align: center;
    font-size: 100%;
    color: #3a3a3a;
}

.social-networks {
    padding-top: 5px;
} 

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 100%;
    color: #3a3a3a;
}

#address {
    padding-top: 5px;
} 

#careers a {
    color: #3a3a3a;
}

/* --------------------------- */
/*events page*/

/* latest event section */

#yoga-image {
    background-image: url(../images/yoga.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    overflow: hidden;
    border: 2px solid #ccc;
    box-sizing: border-box;
    height: 150px;
    width: 30%;
    float: left;
}

.transparent-box1 {
    margin: 10px;
    background-color: #ccc;
    border: 1px solid black;
    opacity: 0.75;
    height: 80%;
}

.transparent-box1 h3, h4 {
    font-weight: bold;
    text-align: center;
    color: black;
    line-break: loose;
    padding: 5px;
  }
  .transparent-box1 h3 {
      text-transform: uppercase;
  }

#trail-image {
    background-image: url(../images/children.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    overflow: hidden;
    border: 2px solid #ccc;
    box-sizing: border-box;
    height: 150px;
    width: 30%;
    float: left;  
}

#hiit-image {
    background-image: url(../images/children.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    overflow: hidden;
    border: 2px solid #ccc;
    box-sizing: border-box;
    height: 150px;
    width: 30%;
    float: left;
}

#container {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
  }
 
  #container > div {
    flex: 1; 
  }


#blurb-container {
    text-align: center;
    width: 100%;
    font-size: 110%;
}

#newsletter-link {
    text-decoration: none;
    color: #3a3a3a;
}
 
/* noticing nature */

#nature-image {
    background-image: url(../images/squirrel.jpeg);
    background-repeat: no-repeat;
    background-position:center;
    height: 100%;
    border-radius: 50%;
}

#nature-image-container{
    width: 300px;
    height: 300px;
    padding: 10px;
    border-style:  solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    float: right;
    margin-right: 15%;
}
